<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>mbed Device Connector Webapp for Temperature & Humidity Sensor</title>

    <link rel="stylesheet" href="static/css/normalize.css">
    <link rel="stylesheet" href="static/css/foundation.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="static/css/styles.css">

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="row margin">
      <div class="small-12 columns">
        <div><img src="static/img/ARMmbedLogo.png" alt="ARM mbed"></div>
      </div>
    </div>
    
    <div class="blueband">
      <div class="row">
        <div class="small-12 columns">
          <h1>Webapp for Temperature & Humidity Sensor</h1>
        </div>
      </div>
    </div>
    
    <div id="endpoints">
    {{#each endpoints}}
      <div class="row" id="{{name}}">
        <div class="small-12 columns">
          
          <div class="row">
            <div class="small-12 columns">
              <h2>{{name}}</h2>
            </div>
          </div>
          
          <div class="row">
            <div class="small-12 medium-6 columns">
              <h4>Presses: <span class="presses-value">Unknown</span></h4>
              <label><input type="checkbox" class="subscribe-presses"> Subscribe</label>
              <button class="get-presses">GET</button>
            </div>
          </div>
		  
		      <div class="row">
			      <div class="small-12 medium-6 columns">
			        <h4>Current Temperature: <span class="temperature-value">Unknown</span> Degrees</h4>
              
		        </div>
          </div>
          
          <div class="row">
            <div class="small-12 medium-6 columns">
              <h4>Temperature Curves: </h4>
              <label>From <input type="date" value='2016-07-27' class="sdate_temp"> <input type="time" value="00:00" class="stime_temp"> To <input type="time" value="23:59" class="etime_temp">
              <button class="get-temp">GET</button><br/><br/>
              <label>The average temperature is: <span class="average_temp"> Unknown</span> Degrees</label><br/><br/>
              <label><font style="font-color:red;font-style:italic;">Please check Temperature.png for the Temperature curves</font></label><br/><br/>
            </div>
          </div>
          
          <div class="row">
            <div class="small-12 medium-6 columns">
              <button class="clean-temp" style="height:30px">Restart Temperature Detection</button><br/><br/>
            </div>
          </div>
          
          <div class="row">
			      <div class="small-12 medium-6 columns">
			        <h4>Current Humidity: <span class="humidity-value">Unknown</span> %rh</h4>
		        </div>
          </div>
          
          <div class="row">
            <div class="small-12 medium-6 columns">
              <h4>Humidity Curves: </h4>
              <label>From <input type="date" value='2016-07-27' class="sdate_hum"> <input type="time" value="00:00" class="stime_hum"> To <input type="time" value="23:59" class="etime_hum">
              <button class="get-hum">GET</button><br/><br/>
              <label>The average humidity is: <span class="average_hum"> Unknown</span> %rh</label><br/><br/>
              <label><font style="font-color:red;font-style:italic;">Please check Humidity.png for the Humidity curves</font></label><br/><br/>
            </div>
          </div>
          
          <div class="row">
            <div class="small-12 medium-6 columns">
              <button class="clean-hum" style="height:30px">Restart Humidity Detection</button><br/><br/>
            </div>
          </div>
          
        </div>
      </div>
    {{/each}}
    </div>


    <script type="text/javascript" src="/static/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/static/js/socket.io.js"></script>
    <script type="text/javascript">
    $(function() {
      var socket = io();

      $('#endpoints').children().each(function(index, element) {
        var _this = $(this);
        _this.find('.subscribe-presses').change(function() {
          if ($(this).is(":checked")) {
            _this.find('.get-presses').prop('disabled', true);
            socket.emit('subscribe_to_presses', {
              endpointName: _this.attr('id')
            });
          } else {
            _this.find('.get-presses').prop('disabled', false);
            socket.emit('unsubscribe_to_presses', {
            endpointName: _this.attr('id')
            });
          }
        });
          
        _this.find('.get-presses').on('click', function() {
        socket.emit('get_presses', {
            endpointName: _this.attr('id')
          });
        });
        
        _this.find('.get-temp').on('click', function() {
          socket.emit('get_curves', {
            endpointName: _this.attr('id'),
            value: {"type": 'temp', "sdate": _this.find('.sdate_temp').val(), "stime": _this.find('.stime_temp').val(), "etime": _this.find('.etime_temp').val()}
          });
        });
        
        _this.find('.clean-temp').on('click', function() {
        socket.emit('clean_temp', {
            endpointName: _this.attr('id')
          });
        });
        
        _this.find('.get-hum').on('click', function() {
          socket.emit('get_curves', {
            endpointName: _this.attr('id'),
            value: {"type": 'hum', "sdate": _this.find('.sdate_hum').val(), "stime": _this.find('.stime_hum').val(), "etime": _this.find('.etime_hum').val()}
          });
        });
        
        _this.find('.clean-hum').on('click', function() {
          socket.emit('clean_hum', {
            endpointName: _this.attr('id')
          });
        });
      });
      
      socket.on('presses', function (data) {
        console.log('presses', data);
        $('#' + data.endpointName + ' .presses-value').html(data.value);
      });
        
      socket.on('Average-temp', function (data) {
        console.log('Average-temp', data);
        $('#' + data.endpointName + ' .average_temp').html(data.value);
      });
      
      socket.on('Average-hum', function (data) {
        console.log('Average-hum', data);
        $('#' + data.endpointName + ' .average_hum').html(data.value);
      });
		
		  socket.on('display-temp', function (data) {
        console.log('display-temp', data);
        $('#' + data.endpointName + ' .temperature-value').html(data.value);
      });
      
      socket.on('display-hum', function (data) {
        console.log('display-hum', data);
        $('#' + data.endpointName + ' .humidity-value').html(data.value);
      });
      
      socket.on('subscribed-to-presses', function (data) {
        console.log('subscribed-to-presses', data);
      });
		
		  socket.on('unsubscribed-to-presses', function (data) {
        console.log('unsubscribed-to-presses', data);
      });
      
      socket.on('cleanTemp', function (data) {
        console.log('cleanTemp', data);
      });
      
      socket.on('cleanHum', function (data) {
        console.log('cleanHum', data);
      });
      
    });
    </script>
  </body>
</html>
